*{
	margin: 0;
	padding:0;
}

@font-face {
	font-family: "catamaran";
	src: url("../fonts/catamaran-regular.eot");
	src: url("../fonts/catamaran-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/catamaran-regular.woff") format("woff"), url("../fonts/catamaran-regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal; 
}
@font-face {
	font-family: "rubik";
	src: url("../fonts/rubik-regular.eot");
	src: url("../fonts/rubik-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/rubik-regular.woff") format("woff"), url("../fonts/rubik-regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal; 
}
html{
	font-size:7vw;
	background-color: black;
}
body {
	background: url("../img/lower_bg.jpg") repeat;	
}

#banner{
	background: url("../img/4/bg.jpg") no-repeat;
	-webkit-background-size: 100% 100%;
	        background-size: 100%;
	width: 100vw;
	height: 100vh;
}
#phone{
	display:none;
}
.content{
	max-height:60vw;
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	position: absolute;
	top: 91vmin;
	left: 36vw;
}
#icon{
	background: url("../img/4/icon.png") no-repeat;
	-webkit-background-size: 100% 100%;
	        background-size: 100%;
	width:17vw;
	height:17vw;
	margin-bottom: 4vw;
}
#text_top{
	color: #ffffff;
	font-family: catamaran;
	font-size:1rem;
	line-height: 1.2em;
	text-transform: uppercase;
	margin-bottom: 3vw;
}
#text_bottom{
	color: #ffa000;
	font-family: rubik;
	font-size:0.9rem;
	line-height: 1.2em;
	text-transform: uppercase;
}

/* IPhones 6,6+*/
@media only screen and (min-width : 375px){
	
	#banner{
		background: url("../img/6/bg.jpg") no-repeat;
		-webkit-background-size: 100% 100%;
		        background-size: 100%;
	}

	.content{
		top: 116vw;
		left: 36vw;
	}

	#icon{
		background: url("../img/6/icon.png") no-repeat;
		-webkit-background-size: 100% 100%;
		        background-size: 100%;
	}
}
/* IPad */
@media only screen and (min-width : 768px){
	#banner{
		background: url("../img/ipad/upper_bg.png") no-repeat,
								url("../img/ipad/middle_bg.jpg") no-repeat;
		-webkit-background-size: 100% 100%;
		        background-size: 100%;
	}
	
	#phone, .content{
		top: 74vw;
	}
	#phone{
		display: block;
		background: url("../img/ipad/phone.png") no-repeat;
		-webkit-background-size: 100% 100%;
		        background-size: 100%;
		height: 57vw;
		width: 30%;
		position: absolute;
		left: 5vw;
	}
	.content{
		left: 37vw;
	}

	#icon{
		background: url("../img/6/icon.png") no-repeat;
		-webkit-background-size: 100% 100%;
		        background-size: 100%;
		width:15vw;
		height:15vw;
		margin-bottom: 4vw;
	}
}